.header__logo {
  /* margin-left: 50px; */

  width: 142px;
  object-fit: cover;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 917px) {
  .header__logo {
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 27px;
    width: 103px;
  }
}
